$colorAll: #ffdaaa;
// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位左右居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color: $colorAll){
	font-size: $size;
	color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    overflow-x: hidden; 
    background: #797979;
  }
  &::-webkit-scrollbar-button {
    background: #797979;
    width: 18px;
    height: 18px;
    display: block;
    // border: 1px solid white;
  } 
  // &::-webkit-scrollbar-button:vertical:single-button:start {
  //   width: 100%;
  //   background: url("/static/img/top.png") -1.5px -1px no-repeat;
  //   cursor: pointer;
  //   border-bottom: 1px solid #1E1E1E;

  // }
  // &::-webkit-scrollbar-button:vertical:single-button:end {
  //   width: 100%;
  //   background: url("/static/img/bottom.png") -1.5px -1px no-repeat;

  //   cursor: pointer;
  //   border-top: 1px solid #1E1E1E;

  // }
  &::-webkit-scrollbar-button:vertical:start:increment {

    //横向 开始端 增量按钮
    display: none;
  }

  &::-webkit-scrollbar-button:vertical:end:decrement {

    //横向 末尾端 减量按钮
    display: none;
  }


  &::-webkit-scrollbar {
    width: 15px;
    overflow-x: hidden;
    border-radius: 0;
  }
  &::-webkit-scrollbar-corner {
    background: #1E1E1E;
  }
  &::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 0;
    overflow-x: hidden;
  }
}
